@import url('../blocks/header.css');
@import url('../blocks/main.css');
@import url('../blocks/sidebar.css');
@import url("../vendor/fonts/fonts.css");
@import url("../vendor/fonts/normalize.css");
.container{
    display: grid;
    grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar main"
    "sidebar footer"
    ;
    grid-template-columns: 1.5fr 6fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    position: relative;
    font-family: "Montserrat", sans-serif;
    color:rgba(0, 0, 0, 0.842);
    line-height: 1.3em;
    background-color: rgb(248, 248, 248);
}

.header{
    grid-area: header;
    margin: auto;
    width: 75%;
    padding-top: 20px;

}

.sidebar{
    grid-area: sidebar;
}

.main{
    grid-area: main;
    width: 75%;
    margin: auto;
}

.footer{
    grid-area: footer;
    width: 75%;
    margin: auto;

}