@import url('../blocks/header.css');
@import url('../blocks/main.css');
@import url('../blocks/sidebar.css');
@import url('../blocks/card.css');
@import url('../blocks/footer.css');
@import url('../blocks/modal.css');
@import url('../blocks/image-upload-modal.css');
@import url('../blocks/image-display-modal.css');
@import url('../vendor/fonts/fonts.css');
@import url('../vendor/fonts/normalize.css');

.container {
  display: grid;
  grid-template-areas:
    'sidebar header'
    'sidebar main'
    'sidebar footer';
  grid-template-columns: 2fr 6fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  color: rgba(0, 0, 0, 0.842);
  line-height: 1.3em;
  background-color: rgb(248, 248, 248);
}

.header {
  grid-area: header;
  margin: auto;
  width: 80%;
  padding-top: 20px;
  padding-left: 20px;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
  width: 80%;
  margin: auto;
}

.footer {
  grid-area: footer;
  width: 80%;
  margin: auto;
}

/* place somewhere else  */
.form__input-error{
  display: none;
}

.form__input_type-error{
 border: 1px solid red;
}

.form__input-error_active{
  display: block;
  font-size: 12px;
  color: red;
}
.form__submit-btn_disabled{
  background-color: rgb(209, 209, 209);
  color: rgb(129, 127, 127);
}


@media screen and (max-width: 1280px) {
  .container {
    grid-template-columns: 1fr 6fr;
  }
}
